{% extends "base.html" %}

{% block content %}
<div align="center">
    <br />
    <h2>{{ title }}</h2>
    <br />
</div>
{% if books %}
    <div class="table table-borderless" align="center">
        <table>
            <tr class="table-active">
                <th>ID</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Жанр</th>
                <th>Добавил</th>
                <th>Статус</th>
            </tr>
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author.name }}</td>
                    <td>{{ book.genre.name }}</td>
                    <td>{{ book.user.nickname }}</td>
                    <td>{{ book.status }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
<h4 align="center">Тут пока пусто :(</h4>
{% endif %}
{% endblock %}
