{% extends "base.html" %}

{% block content %}
<div align="center">
    <br />
    <h2>Ваши книги</h2>
</div>
<div class="table table table-borderless" align="center">
    <table>
        <!--<tr>-->
            <!--<th><a href="/addjob" class="btn btn-secondary">Add job</a>-->
                <!--<a href="/departments" class="btn btn-secondary">Go to Departments</a></th>-->
        <!--</tr>-->
        {% for book in books %}
            <tr>
                <th><h3>Книга №{{loop.index}}</h3></th>
            </tr>
            <tr class="table-active">
                <th>Название книги</th>
                <th>Автор книги</th>
                <th>Жанр книги</th>
                <th>Статус книги</th>
            </tr>
            <tr>
                <td>{{ book.name }}</td>
                <td>{{ book.author.name }}</td>
                <td>{{ book.genre.name }}</td>
                <td>{{ book.status }}</td>
        {% endfor %}
    </table>
</div>
{% endblock %}