{% extends "base.html" %}

{% block content %}
<div align="center">
    <br />
    <h2>{{ title }}</h2>
    <br />
</div>
{% if book %}
    <!--<div class="table table-borderless" align="center">-->
        <!--<table>-->
            <!--<tr class="table-active">-->
                <!--<th>ID</th>-->
                <!--<th>Название</th>-->
                <!--<th>Автор</th>-->
                <!--<th>Жанр</th>-->
                <!--<th>Добавил</th>-->
                <!--<th>Статус</th>-->
                <!--<th>Изображение</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>{{ book.id }}</td>-->
                <!--<td>{{ book.name }}</td>-->
                <!--<td>{{ book.author.name }}</td>-->
                <!--<td>{{ book.genre.name }}</td>-->
                <!--<td>{{ book.user.nickname }}</td>-->
                <!--<td>{{ book.status }}</td>-->
                <!--{% if book.image %}-->
                    <!--<td><img src="{{ book.image }}" alt="изображение не загрузилось :("-->
                             <!--width="150" class="rounded"/></td>-->
                <!--{% endif %}-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->
    {% if book.status == 1 or book.user.id == current_user.id or current_user.is_moderator %}
    <div class="media">
        <img src="{{ image_url }}" alt="Изображение не загрузилось" width="150" class="mr-3">
        <div class="media-body">
            <h5 class="mt-0">{{ book.name }} ({{ book.author.name }}, {{ book.genre.name }}) [by {{ book.user.nickname }}]</h5>
            {% for line in book.description.split('\n') %}
                {{ line }}<br />
            {% endfor %}
        </div>
    </div>
    {% else %}
        <h4 align="center">У Вас нет доступа к данной книге :(</h4>
    {% endif %}
{% else %}
    <h4 align="center">Запрашиваемая книга не найдена :(</h4>
{% endif %}
{% endblock %}
