{% extends "base.html" %}

{% block content %}
<div align="center">
    <br />
    <h2>{{ title }}</h2>
    <br />
</div>
{% if book %}
    {% if book.status == 1 or book.user.id == current_user.id or current_user.is_moderator %}
    <div class="media">
        <img src="{{ image_url }}" alt="Изображение не загрузилось" width="300" class="mr-3">
        <div class="media-body">
            <h5 class="mt-0">{{ book.name }} ({{ book.author.name }}, {{ book.genre.name }}) [by {{ book.user.nickname }}]</h5>

            <a class="btn btn-primary" href="/download/{{ book.id }}">Скачать</a>
            <br />
            {% for line in book.description.split('\n') %}
                {{ line }}<br />
            {% endfor %}
        </div>
    </div>
    {% else %}
        <h4 align="center">У Вас нет доступа к данной книге :(</h4>
    {% endif %}
{% else %}
    <h4 align="center">Запрашиваемая книга не найдена :(</h4>
{% endif %}
{% endblock %}
